
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="login">
    <div class="input">
        @using (Html.BeginForm()) //ko cần viết rõ vì cùng tên action method Login
        {
            <p><label>Username: </label> <input type="text" name="username" /></p> <br /> 
            <p><label>Password: </label><input type="text" name="password" /> </p> <br /> 
            <p><input class="lg" type="submit" value="Login" /></p>
        }
    </div>
    @ViewBag.errLogin
</div>

